<div class="jumbotron">
    <h1 class="display-4">Bem vindo ao Blog</h1>
    <p class="lead">Este é um BLOG simpres, desenvolvido com em Node.js + Espress + MongoDB.</p>
    <hr class="my-4">
    <p>Aqui você vai poder ler sobre as novidades de diversos assuntos.</p>
    {{#if user}}
    
    {{else}}
        <p class="lead">
            <a class="btn btn-dark btn-lg" href="/user/registro" role="button">+ Crie sua conta</a>
        </p>
    {{/if}}
</div>

<h4 class="mt-4">Ultimos Recentes</h4>

{{#each postagens}}
<div class="card mt-4 d-flex">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h4>{{titulo}}</h4>
            <a href="/postagem/{{slug}}" <button class="btn btn-success">Leia mais</button></a>
        </div>
        <small>{{descricao}}</small>
  
        <hr>
        <div class="d-flex justify-content-between">
            <small>Categoria {{categoria.nome}}</small>
            <small>Data de Modificação: {{date}}</small>
        </div>
    </div>
</div>
{{else}}
<p class="mt-3"> Nenhuma Postagem encontrada !</p>
{{/each}}